[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
psycopg2-binary = "*"
passlib = "*"
scrapyd = "*"
setuptools = "*"
scrapyd-client = "*"
twisted = "*"
scrapy = "==2.4.1"
aiogram = "*"
bs4 = "*"
pandas = "*"
openpyxl = "*"
sqlmodel = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
